.div-log-in-user {
    padding: 30px 110px 50px 95px;
  }

  #emailHelp a {
    color: #ff971d;
  }

  button a {
    color: #fff;
  }

  button a:hover {
    color: #fff;
  }

  .btn-login-user {
    background-color: #ff971d;
    border-color: #ff971d;
  }

  #image{
    width: 20rem; 
    margin-top:5rem; 
}

.button{
  margin-bottom: 10px;
   margin-top: 10px;
  align-items: center;
  align-self: center;
  transition: all 0.5s;
  cursor:pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 1080px){
    #image{
        display:none;
    }
    .div-log-in-user {
        padding: 20px;
      }
    .container-fluid{
        margin: 0 auto;
    }
    h2{
        text-align:center;
        font-size: 30px;
    }

    button{
        margin-bottom: 10px;
        align-items: center;
        align-self: center;
    }
    #no{
      margin-top: 30px;
    }
}